* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(26, 25, 25);
}



/******************** NAVBAR *******************/

.parent-box {
    height: 70px;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 10px;
    color: white;
}
#mainlogo {
    display: flex;
}
#menu {
    display: flex;
    gap: 80px;
}
#menu>a {
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    color: white;
    font-weight: 900;
    z-index: 2;
    color: white;
    text-transform: uppercase;
}
#menu>a:hover{
    text-decoration: underline;
}
#book>a {
    text-decoration: none;
    color: white;
    font-weight: 900;
}
#book>a:hover{
    height: 40px;
    width: 70px;
    background-color: #ffffff;
    color: black;
    transform: scale(1.1);
}
#cart {
    display: flex;
    gap: 30px;
}
#cart>img:hover{
    transform: scale(1.3);
}



/***************************** BANNER ************************/

#mainimg > img {
    height: 800px;
    max-width: 100%;
    background: rgba(0,0,0,0.2);
}

#banner{
    position: absolute;
    top: 250px;
    left: 29%;
    padding: 20px;
}

#t1{
    text-align: center;
    color: gold;
    font-size: 50px;
    font-family: cursive;
}

#t2{
    text-align: center;
    color: white;
    font-size: 90px;
    font-weight: 900;
    text-transform: capitalize;
}

#banner > div{
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: Georgia, serif;
    font-weight: 800;
}

.book{
    height: 50px;
    width: 300px;
    /* background-color: azure; */
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 235px;
}

.book:hover{
    background-color: white;
    color: black;
}

#table{
    text-align: center;
    color: gold;
    font-weight: bold;
    font-size: 20px;
}

.dots{
    height: 11px;
    width: 11px;
    background-color: white;
    border-radius: 30px;
    display:inline-flex;
    flex-direction: row;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 45%;
}

.dots:hover{
    transform: scale(0.7);
}



/**************************** DROPDOWN MENU ***************************/

.dropbtn {
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    left: -21px;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
}
  
  .dropdown:hover .dropdown-content {
    display: block;
}



/***************************** WELCOME *****************************/

#disc{
    height: 380px;
    width: 100%;
    background-color: rgb(26, 25, 25);
    padding: 70px;
}

#wlc{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: gold;
    font-family: 'Ruthie', cursive;
    text-transform: capitalize;
}

#wlc2{
    display: flex;
    justify-content: center;
    font-size: 70px;
    font-weight: bolder;
    color: white;
}

#miniicon{
    display: flex;
    justify-content: center;
}

#dummy{
    display: flex;
    justify-content: center;
    color: white;
}

#dummy2{
    display: flex;
    justify-content: center;
    color: white;
}

#dummy3{
    display: flex;
    justify-content: center;
    color: white;
}

#sign{
    display: flex;
    justify-content: center;
}


/********************************** SHOP ********************************/

#main-container{
    background-color: #9e9e9e;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#title{
    font-size: 45px;
    font-weight: 900;
}

#main-obj{
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline;
}

#box1{
    height: 500px;
    width: 400px;
    border: 2px solid black;
    background-color: #f1f1f1;
    display: grid;
    margin-left: 5%;
    margin-bottom: 3%;
}

#boximg{
    margin-left: 4%;
    margin-top: 5%;
    transition-duration: 1s;
}
#boximg:hover{
    transform: scale(1.1);
}

.t1{
    margin-left: 13%;
    font-size:x-large;
    font-weight: 800;
}

.t2{
    margin-left: 25%;
    font-size: large;
    font-weight: 800;
}

.t3{
    margin-left: 17%;
    font-size: large;
    font-weight: 800;
}

.price{
    background-color: rgb(55, 55, 55);
    height: 40px;
    width: 180px;
    margin-left: 29%;
    display: flex;
    justify-content: center ;
    align-items: center;
}
.price:hover{
    cursor: pointer;
    background-color: #969696;
    box-shadow: 2px 2px 6px 2px grey;
}

.price > span{
    color: rgb(255, 255, 255);
    
}

@media only screen and (min-width: 768px) {
    /* Tablet */
    #box1 {
    display: inline-block;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media only screen and (min-width: 992px) {
    /* Laptop */
    #box1{
        display: inline-block;
      grid-template-columns: repeat(5, 1fr);
    }
  }


